@using chd.Rizitelli.Contracts.Interfaces
@inherits LayoutComponentBase

<div class="page @(this.settingManager.IsiOS ? "ios" : "") ">
    <CascadingBackButton IsiOS="this.settingManager.IsiOS">
        <main class="collapsed-nav">
            <article id="main-article" class="content px-4" @onscroll="scrollInfoService.Scrolled">
                @Body
            </article>
        </main>
    </CascadingBackButton>

</div>

@code {
    [Inject] ISettingManager settingManager { get; set; }
    [Inject] IScrollInfoService scrollInfoService { get; set; }
}